USE [Autopartes_dim]
GO
/****** Object:  Table [dbo].[dim_articulos]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_articulos](
	[clave] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
	[ArticuloTipo] [nvarchar](50) NULL,
	[ArticuloGrupo] [nvarchar](50) NULL,
	[ArticuloClase] [nvarchar](50) NULL,
	[Almacenable] [nvarchar](50) NULL,
	[Identificacion] [nvarchar](50) NULL,
	[UMedInv] [nvarchar](50) NULL,
	[UMedVta] [nvarchar](50) NULL,
	[UMedCpa] [nvarchar](50) NULL,
	[Moneda] [nvarchar](50) NULL,
	[Precio] [money] NULL,
	[pctDescuento] [money] NULL,
	[UbicacionAlmacen] [nvarchar](50) NULL,
	[UbicacionClave] [nvarchar](50) NULL,
 CONSTRAINT [PK_dim_articulos] PRIMARY KEY CLUSTERED 
(
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_clientes]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_clientes](
	[Clave] [nvarchar](50) NOT NULL,
	[RazonSocial] [nvarchar](50) NULL,
	[CalleNumero] [nvarchar](50) NULL,
	[Colonia] [nvarchar](50) NULL,
	[Ciudad] [nvarchar](50) NULL,
	[Estado] [int] NULL,
	[Pais] [int] NULL,
	[CodigoPostal] [nvarchar](50) NULL,
	[ClienteTipo] [nvarchar](50) NULL,
	[ClienteGrupo] [nvarchar](50) NULL,
	[Vendedor] [int] NULL,
	[Moneda] [nvarchar](50) NULL,
	[CondicionPago] [nvarchar](50) NULL,
	[ZonaVenta] [nvarchar](50) NULL,
 CONSTRAINT [PK_dim_clientes] PRIMARY KEY CLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_condicion_pago]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_condicion_pago](
	[Clave] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
 CONSTRAINT [PK_dim_condicion_pago] PRIMARY KEY CLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_medio_embarque]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_medio_embarque](
	[Clave] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
 CONSTRAINT [PK_dim_medio_embarque] PRIMARY KEY CLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_moneda]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_moneda](
	[Clave] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
	[Tipo] [nvarchar](50) NULL,
 CONSTRAINT [PK_dim_moneda] PRIMARY KEY CLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_sub_entradas]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_sub_entradas](
	[Folio] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dim_sub_entradas] PRIMARY KEY CLUSTERED 
(
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_sub_facturas]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_sub_facturas](
	[Folio] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dim_sub_facturas] PRIMARY KEY CLUSTERED 
(
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_sub_salidas]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_sub_salidas](
	[Folio] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dim_sub_salidas] PRIMARY KEY CLUSTERED 
(
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_time]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_time](
	[TimeID] [int] NOT NULL,
	[Year_] [int] NULL,
	[Month_] [int] NULL,
	[Day_] [int] NULL,
	[Trimestre] [int] NULL,
	[Cuatrimestre] [int] NULL,
	[Semestre] [int] NULL,
	[DiaSemanaNumero] [int] NULL,
	[DiaSemanaNombre] [nvarchar](50) NULL,
	[Fecha] [date] NULL,
 CONSTRAINT [PK_dim_time] PRIMARY KEY CLUSTERED 
(
	[TimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_vendedores]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_vendedores](
	[Clave] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_dim_vendedores] PRIMARY KEY CLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_entradas]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_entradas](
	[Empresa] [nvarchar](50) NULL,
	[Folio] [nvarchar](50) NULL,
	[Partida] [int] NULL,
	[Articulo] [nvarchar](50) NULL,
	[Cliente] [nvarchar](50) NULL,
	[Vendedor] [int] NULL,
	[Moneda] [nvarchar](50) NULL,
	[TimeID] [int] NULL,
	[Operacion] [nvarchar](50) NULL,
	[pctDescuentoGlobal] [money] NULL,
	[TotalImporte] [money] NULL,
	[TotalDescuento] [money] NULL,
	[TotalImpuesto] [money] NULL,
	[Total] [money] NULL,
	[Almacen] [int] NULL,
	[Cantidad] [int] NULL,
	[CantidadUMedInv] [int] NULL,
	[DescripcionArticulo] [nvarchar](100) NULL,
	[pctDescuento] [money] NULL,
	[pctImpuesto] [money] NULL,
	[Precio] [money] NULL,
	[TotalDetalle] [money] NULL,
	[TotalDescuentoDetalle] [money] NULL,
	[TotalImporteDetalle] [money] NULL,
	[TotalImpuestoDetalle] [money] NULL,
	[Ubicacion] [int] NULL,
	[UMedPartida] [nvarchar](50) NULL,
	[CantidadPartidas] [int] NULL,
	[count_entradas] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_facturas]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_facturas](
	[Folio] [nvarchar](50) NOT NULL,
	[Partida] [int] NOT NULL,
	[Empresa] [nvarchar](50) NULL,
	[Articulo] [nvarchar](50) NULL,
	[Cliente] [nvarchar](50) NULL,
	[Vendedor] [int] NULL,
	[MedioEmbarque] [nvarchar](50) NULL,
	[CondicionPago] [nvarchar](50) NULL,
	[TimeID] [int] NULL,
	[TotalImporteFactura] [money] NULL,
	[TotalImporteDetalle] [money] NULL,
	[TotalDescuentoFactura] [money] NULL,
	[TotalDescuentoDetalle] [money] NULL,
	[TotalRetencion] [money] NULL,
	[TotalFactura] [money] NULL,
	[TotalDetalle] [money] NULL,
	[TotalImpuestoDetalle] [money] NULL,
	[DescripcionArticulo] [nvarchar](100) NULL,
	[Cantidad] [int] NULL,
	[Almacen] [int] NULL,
	[Precio] [money] NULL,
	[UMedPartida] [nvarchar](50) NULL,
	[CantidadUMedInv] [int] NULL,
	[pctImpuesto] [int] NULL,
	[pctDescuento] [int] NULL,
	[pctDescuentoGlobal] [int] NULL,
	[RacIVA] [int] NULL,
	[Moneda] [nvarchar](50) NULL,
	[CantidadPartidas] [int] NULL,
	[count_facturas] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_salidas]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_salidas](
	[Empresa] [nvarchar](50) NULL,
	[Folio] [nvarchar](50) NULL,
	[Partida] [int] NULL,
	[Articulo] [nvarchar](50) NULL,
	[Cliente] [nvarchar](50) NULL,
	[Vendedor] [int] NULL,
	[Moneda] [nvarchar](50) NULL,
	[TimeID] [int] NULL,
	[CondicionPago] [nvarchar](50) NULL,
	[MedioEmbarque] [nvarchar](50) NULL,
	[pctDescuentoGlobal] [money] NULL,
	[TotalImporte] [money] NULL,
	[TotalDescuento] [money] NULL,
	[TotalImpuesto] [money] NULL,
	[Total] [money] NULL,
	[Almacen] [int] NULL,
	[Cantidad] [int] NULL,
	[CantidadUMedInv] [int] NULL,
	[DescripcionArticulo] [nvarchar](100) NULL,
	[pctDescuento] [money] NULL,
	[pctImpuesto] [money] NULL,
	[Precio] [money] NULL,
	[TotalDetalle] [money] NULL,
	[TotalDescuentoDetalle] [money] NULL,
	[TotalImporteDetalle] [money] NULL,
	[TotalImpuestoDetalle] [money] NULL,
	[Ubicacion] [int] NULL,
	[UMedPartida] [nvarchar](50) NULL,
	[CantidadPartidas] [int] NULL,
	[count_salidas] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fact_entradas]  WITH CHECK ADD  CONSTRAINT [FK_fact_entradas_dim_articulos] FOREIGN KEY([Articulo])
REFERENCES [dbo].[dim_articulos] ([clave])
GO
ALTER TABLE [dbo].[fact_entradas] CHECK CONSTRAINT [FK_fact_entradas_dim_articulos]
GO
ALTER TABLE [dbo].[fact_entradas]  WITH CHECK ADD  CONSTRAINT [FK_fact_entradas_dim_clientes] FOREIGN KEY([Cliente])
REFERENCES [dbo].[dim_clientes] ([Clave])
GO
ALTER TABLE [dbo].[fact_entradas] CHECK CONSTRAINT [FK_fact_entradas_dim_clientes]
GO
ALTER TABLE [dbo].[fact_entradas]  WITH CHECK ADD  CONSTRAINT [FK_fact_entradas_dim_moneda] FOREIGN KEY([Moneda])
REFERENCES [dbo].[dim_moneda] ([Clave])
GO
ALTER TABLE [dbo].[fact_entradas] CHECK CONSTRAINT [FK_fact_entradas_dim_moneda]
GO
ALTER TABLE [dbo].[fact_entradas]  WITH CHECK ADD  CONSTRAINT [FK_fact_entradas_dim_sub_entradas] FOREIGN KEY([Folio])
REFERENCES [dbo].[dim_sub_entradas] ([Folio])
GO
ALTER TABLE [dbo].[fact_entradas] CHECK CONSTRAINT [FK_fact_entradas_dim_sub_entradas]
GO
ALTER TABLE [dbo].[fact_entradas]  WITH CHECK ADD  CONSTRAINT [FK_fact_entradas_dim_time] FOREIGN KEY([TimeID])
REFERENCES [dbo].[dim_time] ([TimeID])
GO
ALTER TABLE [dbo].[fact_entradas] CHECK CONSTRAINT [FK_fact_entradas_dim_time]
GO
ALTER TABLE [dbo].[fact_entradas]  WITH CHECK ADD  CONSTRAINT [FK_fact_entradas_dim_vendedores] FOREIGN KEY([Vendedor])
REFERENCES [dbo].[dim_vendedores] ([Clave])
GO
ALTER TABLE [dbo].[fact_entradas] CHECK CONSTRAINT [FK_fact_entradas_dim_vendedores]
GO
ALTER TABLE [dbo].[fact_facturas]  WITH CHECK ADD  CONSTRAINT [FK_fact_facturas_dim_articulos] FOREIGN KEY([Articulo])
REFERENCES [dbo].[dim_articulos] ([clave])
GO
ALTER TABLE [dbo].[fact_facturas] CHECK CONSTRAINT [FK_fact_facturas_dim_articulos]
GO
ALTER TABLE [dbo].[fact_facturas]  WITH CHECK ADD  CONSTRAINT [FK_fact_facturas_dim_clientes] FOREIGN KEY([Cliente])
REFERENCES [dbo].[dim_clientes] ([Clave])
GO
ALTER TABLE [dbo].[fact_facturas] CHECK CONSTRAINT [FK_fact_facturas_dim_clientes]
GO
ALTER TABLE [dbo].[fact_facturas]  WITH CHECK ADD  CONSTRAINT [FK_fact_facturas_dim_condicion_pago] FOREIGN KEY([CondicionPago])
REFERENCES [dbo].[dim_condicion_pago] ([Clave])
GO
ALTER TABLE [dbo].[fact_facturas] CHECK CONSTRAINT [FK_fact_facturas_dim_condicion_pago]
GO
ALTER TABLE [dbo].[fact_facturas]  WITH CHECK ADD  CONSTRAINT [FK_fact_facturas_dim_medio_embarque] FOREIGN KEY([MedioEmbarque])
REFERENCES [dbo].[dim_medio_embarque] ([Clave])
GO
ALTER TABLE [dbo].[fact_facturas] CHECK CONSTRAINT [FK_fact_facturas_dim_medio_embarque]
GO
ALTER TABLE [dbo].[fact_facturas]  WITH CHECK ADD  CONSTRAINT [FK_fact_facturas_dim_moneda] FOREIGN KEY([Moneda])
REFERENCES [dbo].[dim_moneda] ([Clave])
GO
ALTER TABLE [dbo].[fact_facturas] CHECK CONSTRAINT [FK_fact_facturas_dim_moneda]
GO
ALTER TABLE [dbo].[fact_facturas]  WITH CHECK ADD  CONSTRAINT [FK_fact_facturas_dim_sub_facturas] FOREIGN KEY([Folio])
REFERENCES [dbo].[dim_sub_facturas] ([Folio])
GO
ALTER TABLE [dbo].[fact_facturas] CHECK CONSTRAINT [FK_fact_facturas_dim_sub_facturas]
GO
ALTER TABLE [dbo].[fact_facturas]  WITH CHECK ADD  CONSTRAINT [FK_fact_facturas_dim_time] FOREIGN KEY([TimeID])
REFERENCES [dbo].[dim_time] ([TimeID])
GO
ALTER TABLE [dbo].[fact_facturas] CHECK CONSTRAINT [FK_fact_facturas_dim_time]
GO
ALTER TABLE [dbo].[fact_facturas]  WITH CHECK ADD  CONSTRAINT [FK_fact_facturas_dim_vendedores] FOREIGN KEY([Vendedor])
REFERENCES [dbo].[dim_vendedores] ([Clave])
GO
ALTER TABLE [dbo].[fact_facturas] CHECK CONSTRAINT [FK_fact_facturas_dim_vendedores]
GO
ALTER TABLE [dbo].[fact_salidas]  WITH CHECK ADD  CONSTRAINT [FK_fact_salidas_dim_articulos] FOREIGN KEY([Articulo])
REFERENCES [dbo].[dim_articulos] ([clave])
GO
ALTER TABLE [dbo].[fact_salidas] CHECK CONSTRAINT [FK_fact_salidas_dim_articulos]
GO
ALTER TABLE [dbo].[fact_salidas]  WITH CHECK ADD  CONSTRAINT [FK_fact_salidas_dim_clientes] FOREIGN KEY([Cliente])
REFERENCES [dbo].[dim_clientes] ([Clave])
GO
ALTER TABLE [dbo].[fact_salidas] CHECK CONSTRAINT [FK_fact_salidas_dim_clientes]
GO
ALTER TABLE [dbo].[fact_salidas]  WITH CHECK ADD  CONSTRAINT [FK_fact_salidas_dim_condicion_pago] FOREIGN KEY([CondicionPago])
REFERENCES [dbo].[dim_condicion_pago] ([Clave])
GO
ALTER TABLE [dbo].[fact_salidas] CHECK CONSTRAINT [FK_fact_salidas_dim_condicion_pago]
GO
ALTER TABLE [dbo].[fact_salidas]  WITH CHECK ADD  CONSTRAINT [FK_fact_salidas_dim_medio_embarque] FOREIGN KEY([MedioEmbarque])
REFERENCES [dbo].[dim_medio_embarque] ([Clave])
GO
ALTER TABLE [dbo].[fact_salidas] CHECK CONSTRAINT [FK_fact_salidas_dim_medio_embarque]
GO
ALTER TABLE [dbo].[fact_salidas]  WITH CHECK ADD  CONSTRAINT [FK_fact_salidas_dim_moneda] FOREIGN KEY([Moneda])
REFERENCES [dbo].[dim_moneda] ([Clave])
GO
ALTER TABLE [dbo].[fact_salidas] CHECK CONSTRAINT [FK_fact_salidas_dim_moneda]
GO
ALTER TABLE [dbo].[fact_salidas]  WITH CHECK ADD  CONSTRAINT [FK_fact_salidas_dim_sub_salidas] FOREIGN KEY([Folio])
REFERENCES [dbo].[dim_sub_salidas] ([Folio])
GO
ALTER TABLE [dbo].[fact_salidas] CHECK CONSTRAINT [FK_fact_salidas_dim_sub_salidas]
GO
ALTER TABLE [dbo].[fact_salidas]  WITH CHECK ADD  CONSTRAINT [FK_fact_salidas_dim_time] FOREIGN KEY([TimeID])
REFERENCES [dbo].[dim_time] ([TimeID])
GO
ALTER TABLE [dbo].[fact_salidas] CHECK CONSTRAINT [FK_fact_salidas_dim_time]
GO
ALTER TABLE [dbo].[fact_salidas]  WITH CHECK ADD  CONSTRAINT [FK_fact_salidas_dim_vendedores] FOREIGN KEY([Vendedor])
REFERENCES [dbo].[dim_vendedores] ([Clave])
GO
ALTER TABLE [dbo].[fact_salidas] CHECK CONSTRAINT [FK_fact_salidas_dim_vendedores]
GO
/****** Object:  StoredProcedure [dbo].[dim_articulos_sp]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[dim_articulos_sp] AS
BEGIN
    SELECT
        TRIM(a.[clave]) as Clave
        ,TRIM(a.[Descripcion]) as Descripcion
        ,COALESCE(TRIM(at_.[Descripcion]), 'Not in source') as ArticuloTipo
        ,COALESCE(TRIM(ag.[Descripcion]), 'Not in source') as ArticuloGrupo
        ,COALESCE(TRIM(ac.[Descripcion]), 'Not in source') as ArticuloClase
        ,a.[Almacenable]
        ,a.[Identificacion]
        ,TRIM(a.[UMedInv]) as UMedInv
        ,TRIM(a.[UMedVta]) as UMedVta
        ,TRIM(a.[UMedCpa]) as UMedCpa
        ,COALESCE(TRIM(a.[Moneda]), 'Not in source') as Moneda
        ,a.[Precio]
        ,a.[pctDescuento]
        ,COALESCE(TRIM(a.[UbicacionAlmacen]), 'Not in source') as UbicacionAlmacen
        ,COALESCE(TRIM(a.[UbicacionClave]), 'Not in source') as UbicacionClave
    FROM [AutopartesO2025].[dbo].[Articulo] a
    LEFT JOIN [AutopartesO2025].[dbo].[ArticuloGrupo] ag 
        on a.ArticuloGrupo = ag.Clave
    LEFT JOIN [AutopartesO2025].[dbo].[ArticuloClase] ac
        on a.ArticuloClase = ac.Clave
    LEFT JOIN [AutopartesO2025].[dbo].[ArticuloTipo] at_
        on a.ArticuloTipo = at_.Clave
END
GO
/****** Object:  StoredProcedure [dbo].[dim_clientes_sp]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[dim_clientes_sp] AS
BEGIN
    SELECT
        TRIM(c.[Clave]) as Clave
        ,COALESCE(NULLIF('',c.[RazonSocial]), 'Not in source') as RazonSocial
        ,COALESCE(NULLIF('',c.[CalleNumero]), 'Not in source') as CalleNumero
        ,COALESCE(c.[Colonia], 'Not in source') as Colonia
        ,TRIM(c.[Ciudad]) as Ciudad
        ,TRIM(c.[Estado]) as Estado
        ,TRIM(c.[Pais]) Pais
        ,CASE   
            WHEN c.[CodigoPostal] IS NULL OR c.[CodigoPostal] = '' THEN 'Not in source'
            ELSE c.[CodigoPostal]
        END AS CodigoPostal
        ,ct.[Descripcion] as ClienteTipo
        ,TRIM(c.[ClienteGrupo]) as ClienteGrupo
        ,TRIM(c.[Vendedor]) as Vendedor
        ,TRIM(c.[Moneda]) as Moneda
        ,TRIM(c.[CondicionPago]) as CondicionPago
        ,COALESCE(TRIM(c.[ZonaVenta]), 'Not in source') as ZonaVenta
    FROM [AutopartesO2025].[dbo].[Cliente] c
    LEFT JOIN [AutopartesO2025].[dbo].[ClienteTipo] ct
        on c.ClienteTipo = ct.Clave
    UNION ALL 
    SELECT 'Not in source', 'N/A', 'N/A', 'N/A', 'N/A', -1, -1, 'N/A', 'N/A', 'N/A', -1, 'N/A', 'N/A', 'N/A'
END
GO
/****** Object:  StoredProcedure [dbo].[dim_condicion_pago_sp]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[dim_condicion_pago_sp] AS
BEGIN
	SELECT
		TRIM(cp.[Clave]) as Clave
		,cp.[Descripcion]
	FROM [AutopartesO2025].[dbo].[CondicionPago] cp
	UNION ALL 
	SELECT 'Not in source', 'N/A'
END
GO
/****** Object:  StoredProcedure [dbo].[dim_medio_embarque_sp]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[dim_medio_embarque_sp] AS
BEGIN
    SELECT
        TRIM(me.[Clave]) as Clave
        ,me.[Descripcion]
    FROM [AutopartesO2025].[dbo].[MedioEmbarque] me
    UNION ALL 
    SELECT 'Not in source', 'N/A'
END
GO
/****** Object:  StoredProcedure [dbo].[dim_moneda_sp]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[dim_moneda_sp] AS
BEGIN
    SELECT
        TRIM([Clave]) as Clave
        ,TRIM([Descripcion]) as Descripcion
        ,TRIM([Tipo]) as Tipo
    FROM [AutopartesO2025].[dbo].[Moneda]
END 
GO
/****** Object:  StoredProcedure [dbo].[dim_sub_entradas_sp]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[dim_sub_entradas_sp] AS
BEGIN
    SELECT
        TRIM(ee.[Folio]) as Folio
    FROM [AutopartesO2025].[dbo].[EntradaEncabezado] ee
END
GO
/****** Object:  StoredProcedure [dbo].[dim_sub_facturas_sp]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[dim_sub_facturas_sp] AS
BEGIN
    SELECT
        TRIM(fe.[Folio]) as Folio
    FROM [AutopartesO2025].[dbo].[FacturaEncabezado] fe
END
GO
/****** Object:  StoredProcedure [dbo].[dim_sub_salidas_sp]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[dim_sub_salidas_sp] AS
BEGIN
    SELECT
        TRIM(se.Folio) as Folio
    FROM [AutopartesO2025].[dbo].[SalidaEncabezado] se
END;
GO
/****** Object:  StoredProcedure [dbo].[dim_time_sp]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[dim_time_sp] AS
BEGIN
	SELECT
		DISTINCT
		CAST(CONVERT(varchar(8), fe.Fecha, 112) as int) as TimeID
		,YEAR(fe.Fecha) as Year_
		,MONTH(fe.Fecha) as Month_
		,DAY(fe.Fecha) as Day_
		,DATEPART(QUARTER, fe.Fecha) as Trimestre
		,CEILING(MONTH(fe.Fecha) / 4.0) as Cuatrimestre
		,CEILING(MONTH(fe.Fecha) / 6.0) as Semestre
		,DATEPART(WEEKDAY, fe.Fecha) as DiaSemanaNumero
		,DATENAME(WEEKDAY, fe.Fecha) as DiaSemanaNombre
		,fe.Fecha
	FROM [AutopartesO2025].[dbo].FacturaEncabezado fe;
END
GO
/****** Object:  StoredProcedure [dbo].[dim_vendedores_sp]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[dim_vendedores_sp] AS
BEGIN
    SELECT 
        TRIM(v.[Clave]) as Clave
        ,v.[Nombre]
    FROM [AutopartesO2025].[dbo].[Vendedor] v
    UNION ALL 
    SELECT -1, 'N/A'
END
GO
/****** Object:  StoredProcedure [dbo].[fact_entradas_sp]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fact_entradas_sp] AS
BEGIN 
    SELECT
        TRIM(ee.[Empresa]) as Empresa
        ,TRIM(ee.[Folio]) as Folio
        ,COALESCE(ed.[Partida], -1) as Partida
        ,UPPER(TRIM(ed.Articulo)) as Articulo
        ,COALESCE(UPPER(TRIM(ee.[Cliente])), 'Not in source') as Cliente
        ,COALESCE(TRIM(ee.[Vendedor]), -1) as Vendedor
        ,TRIM(ee.[Moneda]) as Moneda
        ,CAST(CONVERT(VARCHAR(8), ee.[Fecha], 112) AS INT) AS TimeID
        ,TRIM(ee.[Operacion]) as Operacion
        ,ee.[pctDescuentoGlobal]
        ,ee.[TotalImporte]
        ,COALESCE(ee.[TotalDescuento], 0.0) as TotalDescuento
        ,ee.[TotalImpuesto]
        ,ee.[Total]
        ,TRIM(ed.Almacen) as Almacen
        ,ed.[Cantidad]
        ,ed.[CantidadUMedInv]
        ,TRIM(ed.DescripcionArticulo) as DescripcionArticulo
        ,COALESCE(ed.[pctDescuento], 0.0) as pctDescuento
        ,ed.[pctImpuesto]
        ,ed.[Precio]
        ,ed.[Total] as TotalDetalle
        ,COALESCE(ed.[TotalDescuento], 0.0) as TotalDescuentoDetalle
        ,ed.[TotalImporte] as TotalImporteDetalle
        ,ed.[TotalImpuesto] as TotalImpuestoDetalle
        ,TRIM(ed.[Ubicacion]) as Ubicacion
        ,UPPER(TRIM(ed.[UMedPartida])) as UMedPartida
        ,1 as CantidadPartidas
        ,(1.0/sub.NumeroPartidas) as count_entradas
    FROM [AutopartesO2025].[dbo].[EntradaEncabezado] ee
    LEFT JOIN [AutopartesO2025].[dbo].[EntradaDetalle] ed
        ON ee.Folio = ed.Folio  AND ee.Empresa = ed.Empresa

    LEFT JOIN (
        SELECT 
            ee.Folio
            ,COUNT(ed.Partida) as NumeroPartidas
        FROM [AutopartesO2025].[dbo].[EntradaEncabezado] ee
        JOIN [AutopartesO2025].[dbo].[EntradaDetalle] ed   
            ON ee.Folio = ed.Folio
        GROUP BY ee.Folio
    ) AS sub
        ON ee.Folio = sub.Folio
END
GO
/****** Object:  StoredProcedure [dbo].[fact_facturas_sp]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fact_facturas_sp] AS
BEGIN
    SELECT 
        TRIM(fe.[Folio]) as Folio
        ,COALESCE(fd.[Partida], -1) as Partida
        ,TRIM(fe.[Empresa]) as Empresa
        ,TRIM(fd.[Articulo]) as Articulo
        ,COALESCE(UPPER(TRIM(fe.[Cliente])), 'Not in source') as Cliente
        ,COALESCE(TRIM(fe.[Vendedor]), -1) as Vendedor
        ,COALESCE(TRIM(fe.[MedioEmbarque]), 'Not in source') as MedioEmbarque
        ,COALESCE(TRIM(fe.[CondicionPago]), 'Not in source') as CondicionPago
        ,CAST(CONVERT(varchar(8), fe.Fecha, 112) as int) as TimeID

        ,fe.[TotalImporte] as TotalImporteFactura
        ,fd.[TotalImporte] as TotalImporteDetalle

        ,COALESCE(fe.[TotalDescuento], 0.0) as TotalDescuentoFactura
        ,COALESCE(fd.[TotalDescuento], 0.0) as TotalDescuentoDetalle

        ,fe.[TotalRetencion]
        ,fe.[Total] as TotalFactura
        ,fd.[Total] as TotalDetalle
        ,fd.[TotalImpuesto] as TotalImpuestoDetalle

        ,TRIM(fd.[DescripcionArticulo]) as DescripcionArticulo
        ,fd.[Cantidad]
        ,TRIM(fd.[Almacen]) as Almacen
        ,fd.[Precio]
        ,TRIM(fd.[UMedPartida]) UMedPartida
        ,fd.[CantidadUMedInv]
        ,COALESCE(fd.[pctDescuento], 0.0) as pctDescuento
        ,fd.[pctImpuesto]

        ,COALESCE(fe.[pctDescuentoGlobal], 0.0) as pctDescuentoGlobal
        ,TRIM(fe.[RacIVA]) as RacIVA
        ,TRIM(fe.[Moneda]) as Moneda
        ,1 as CantidadPartidas
        ,(1.0/sub.NumeroPartidas) as count_facturas
    FROM [AutopartesO2025].[dbo].[FacturaEncabezado] fe
    LEFT JOIN [AutopartesO2025].[dbo].[FacturaDetalle] fd 
        ON fe.Folio = fd.Folio AND fe.Empresa = fd.Empresa

    LEFT JOIN (
        SELECT
            fe.Folio
            ,COUNT(fd.Partida) as NumeroPartidas
        FROM [AutopartesO2025].[dbo].[FacturaEncabezado] fe
        JOIN [AutopartesO2025].[dbo].[FacturaDetalle] fd 
            ON fe.Folio = fd.Folio AND fe.Empresa = fd.Empresa
        GROUP BY fe.Folio
    ) AS sub
        ON fe.Folio = sub.Folio
END
GO
/****** Object:  StoredProcedure [dbo].[fact_salidas_sp]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[fact_salidas_sp] AS
BEGIN
    SELECT
        TRIM(se.[Empresa]) as Empresa
        ,TRIM(se.[Folio]) as Folio
        ,COALESCE(sd.[Partida], -1) as Partida
        ,UPPER(TRIM(sd.Articulo)) as Articulo
        ,COALESCE(UPPER(TRIM(se.[Cliente])), 'Not in source') as Cliente
        ,COALESCE(TRIM(se.[Vendedor]), -1) as Vendedor
        ,TRIM(se.[Moneda]) as Moneda
        ,CAST(CONVERT(VARCHAR(8), se.[Fecha], 112) AS INT) AS TimeID
        ,COALESCE(TRIM(se.[CondicionPago]), 'Not in source') as CondicionPago
        ,COALESCE(TRIM(se.[MedioEmbarque]), 'Not in source') as MedioEmbarque
        ,COALESCE(se.[pctDescuentoGlobal], 0.0) as pctDescuentoGlobal
        ,se.[TotalImporte]
        ,COALESCE(se.[TotalDescuento], 0.0) as TotalDescuento
        ,se.[TotalImpuesto]
        ,se.[Total]
        ,TRIM(sd.[Almacen]) as Almacen
        ,sd.[Cantidad]
        ,sd.[CantidadUMedInv]
        ,TRIM(sd.[DescripcionArticulo]) as DescripcionArticulo
        ,COALESCE(sd.[pctDescuento], 0.0) as pctDescuento
        ,sd.[pctImpuesto]
        ,sd.[Precio]
        ,sd.[Total] as TotalDetalle
        ,COALESCE(sd.[TotalDescuento], 0.0) as TotalDescuentoDetalle
        ,sd.[TotalImporte] as TotalImporteDetalle
        ,sd.[TotalImpuesto] as TotalImpuestoDetalle
        ,TRIM(sd.[Ubicacion]) as Ubicacion
        ,UPPER(TRIM(sd.[UMedPartida])) as UMedPartida
        ,1 as CantidadPartidas
        ,(1.0/sub.NumeroPartidas) as count_salidas
    FROM [AutopartesO2025].[dbo].[SalidaEncabezado] se
    LEFT JOIN [AutopartesO2025].[dbo].[SalidaDetalle] sd
        ON se.Folio = sd.Folio and se.Empresa = sd.Empresa

    LEFT JOIN (
        SELECT 
            se.Folio
            ,COUNT(sd.Partida) as NumeroPartidas
        FROM [AutopartesO2025].[dbo].[SalidaEncabezado] se
        LEFT JOIN [AutopartesO2025].[dbo].[SalidaDetalle] sd
            ON se.Folio = sd.Folio and se.Empresa = sd.Empresa
        GROUP BY se.Folio
    ) AS sub 
        ON se.Folio = sub.Folio
END
GO
/****** Object:  StoredProcedure [dbo].[PoblarAutopartes]    Script Date: 17/10/2025 01:28:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PoblarAutopartes] AS
BEGIN
	-- primero borramos los datos anteriores para no duplicar data
	DELETE [dbo].[fact_facturas]
	DELETE [dbo].[fact_entradas]
	DELETE [dbo].[fact_salidas]
	DELETE [dbo].[dim_articulos]
	DELETE [dbo].[dim_clientes]
	DELETE [dbo].[dim_condicion_pago]
	DELETE [dbo].[dim_medio_embarque]
	DELETE [dbo].[dim_moneda]
	DELETE [dbo].[dim_sub_facturas]
	DELETE [dbo].[dim_sub_entradas]
	DELETE [dbo].[dim_sub_salidas]
	DELETE [dbo].[dim_time]
	DELETE [dbo].[dim_vendedores]

	-- luego insertamos los datos

	INSERT INTO [dbo].[dim_articulos]
	EXEC [dbo].[dim_articulos_sp]
	PRINT 'Step 1: created [dim_articulos]'

	INSERT INTO [dbo].[dim_clientes]
	EXEC [dbo].[dim_clientes_sp]
	PRINT 'Step 1: created [dim_clientes]'

	INSERT INTO [dbo].[dim_condicion_pago]
	EXEC [dbo].[dim_condicion_pago_sp]
	PRINT 'Step 1: created [dim_condicion_pago]'

	INSERT INTO [dbo].[dim_medio_embarque]
	EXEC [dbo].[dim_medio_embarque_sp]
	PRINT 'Step 1: created [dim_medio_embarque]'

	INSERT INTO [dbo].[dim_moneda]
	EXEC [dbo].[dim_moneda_sp]
	PRINT 'Step 1: created [dim_moneda]'

	INSERT INTO [dbo].[dim_sub_facturas]
	EXEC [dbo].[dim_sub_facturas_sp]
	PRINT 'Step 1: created [dim_sub_facturas]'

	INSERT INTO [dbo].[dim_sub_entradas]
	EXEC [dbo].[dim_sub_entradas_sp]
	PRINT 'Step 1: created [dim_sub_entradas]'

	INSERT INTO [dbo].[dim_sub_salidas]
	EXEC [dbo].[dim_sub_salidas_sp]
	PRINT 'Step 1: created [dim_sub_salidas]'

	INSERT INTO [dbo].[dim_time]
	EXEC [dbo].[dim_time_sp]
	PRINT 'Step 1: created [dim_time]'

	INSERT INTO [dbo].[dim_vendedores]
	EXEC [dbo].[dim_vendedores_sp]
	PRINT 'Step 1: created [dim_vendedores]'

	INSERT INTO [dbo].[fact_facturas]
	EXEC [dbo].[fact_facturas_sp]
	PRINT 'Step 1: created [fact_facturas]'

	INSERT INTO [dbo].[fact_entradas]
	EXEC [dbo].[fact_entradas_sp]
	PRINT 'Step 1: created [fact_entradas]'

	INSERT INTO [dbo].[fact_salidas]
	EXEC [dbo].[fact_salidas_sp]
	PRINT 'Step 1: created [fact_salidas]'
END
GO
